<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Care Events</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Title</th>
      <th>Activity Start Time</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event["id"], event_path(id: event["id"]) %></td>
        <td><%= event["type"] %></td>
        <td><%= event["title"] %></td>
        <td><%= event["start"].strftime("%a %b %e %Y %l:%M%P") || []%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>